*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
main{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
.sonuc{
    font-size: 18px;
    color: #333;
    text-align: center;
}

